name: "Lint check"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  build:
    runs-on: ubuntu-latest
    
  steps:
    - uses: actions/checkout
    
    - name: Lint check
      run: ./graldew lint
