name: "Build check"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    
    - name: Decode Keystore
      id: decode_keystore
      uses: timheuer/base64-to-file@v1
      with:
          fileName: "keystore/production/news-debug-keystore"
          encodedString: ${{ secrets.KEYSTORE }}
          
    - name: Checkout
      uses: actions/checkout@v3.3.0
      
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew
      
    - name: ktlint
      run: ./gradlew lint
      
    - name: build prod
      run: ./gradlew buildRelease
      env:
          SIGNING_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
